:root {
    --bg-color: rgb(6 6 13);
}

* {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    padding: 0 100px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    color: white;
    height: 60px;

    font-size: 16px;
}

.container {
    padding: 0 170px;
}

.header-logo {
    font-weight: bold;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

.hero {
    position: relative;
    background-image: url('/images/g&g-hero.webp');
    background-size: cover;
    background-position: center;
    height: 450px;

    display: flex;
    align-items: center;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
}

.hero .hero-content {
    position: absolute;
    color: rgb(230, 230, 230);

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-content p {
    font-size: 15px;
}

.accent_text {
    color: aqua;
    font-weight: bold;
}

#order {
    align-self: flex-start;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 221, 0);
    box-shadow: 0 0 10px rgba(255, 242, 204, 0.8), 0 0 20px rgba(255, 249, 203, 0.6), 0 0 25px rgba(255, 251, 210, 0.4);
}

.concerts {
    margin: 50px 0 100px 0;
}

.concerts-section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.concerts__title {
    font-size: 28px;
    font-weight: 700;
    padding: 24px 30px;
    background: #1B1E29;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 1px solid #1f2937;
    border-right: 1px solid #1f2937;
    border-left: 1px solid #1f2937;
}

.concerts__table {
    border: 1px solid #1f2937;
    width: 100%;
    border-collapse: collapse;
    background: #141C25;
}

.concerts__table thead {
    background: #1B1E29;
}

.concerts__table th {
    text-align: left;
    font-weight: 600;
    color: #9ca3af;
}

.concerts__table td {
    border-top: 1px solid #1f2937;
}

.concerts__table tbody tr:hover {
    background: #151b2a;
}

.ticket-btn {
    display: inline-block;
    padding: 10px 18px;
    background: #f43f5e;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    transition: all .25s ease;
}

.ticket-btn:hover {
    background: #e11d48;
    transform: translateY(-2px);
}

.team>.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.team-title {
    font-size: 32px;
    font-weight: 700;
    align-self: center;
}

.team ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.team ul li img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.team ul li {
    border: 1px solid #1f2937;
    border-radius: 15px;
    overflow: hidden;
    background: #141C25;
}

.team ul li p {
    margin: 15px 0 15px 20px;
    color: #9ca3af;
}

.history {
    color: white;
    background: linear-gradient(145deg,
            #142739 0%,
            #132b3a 25%,
            #1b1f2e 55%,
            #2a1320 75%,
            #301016 100%);

    padding-top: 50px;
    padding-bottom: 50px;
}

.history-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.histoty-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 35px;
}

.history-description {
    color: #d3d3d3;
    flex: 1;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 14px;
}

.history-image {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}

.history-image::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 100%);
}

.history-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    display: block;
    border: 1px solid #1f2937;
}

.contact {
    color: white;
    background: linear-gradient(145deg,
            #301016 0%,
            #2a1320 25%,
            #1b1f2e 55%,
            #132b3a 75%,
            #142739 100%);
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-title h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.contact-title p {
    text-align: center;
    color: #9ea1a6;
    margin-bottom: 50px;
}

.contact-data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
}

.contact-form {
    flex: 1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form__data {
    display: flex;
    gap: 20px;
}

.contact-form__data label {
    display: flex;
    flex-direction: column;
    color: #c3c3c3;
    flex: 1;
}

.contact-form__message label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #c3c3c3;
}

.contact-form input,
.contact-form textarea {
    background: #0f172a;
    border: 1px solid #1f2937;
    border-radius: 8px;
    color: white;
    outline: none;
    transition: all .25s ease;
}

.contact-form textarea {
    min-height: 90px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #f43f5e;
}

.contact-form button {
    border: none;
    border-radius: 10px;

    background: #f43f5e;
    color: white;
    font-weight: 600;

    cursor: pointer;
    transition: all .25s ease;
}

.contact-form button:hover {
    background: #e11d48;
    transform: translateY(-2px);
}

.contact-map {
    flex: 1;

    background: #0f172a;
    border: 1px solid #1f2937;
    border-radius: 12px;
}

.contact-map iframe {
    width: 100%;
    height: 250px;
    border-radius: 8px;
}

.contact-map h3 {
    margin-bottom: 20px;
    font-size: 16px;
}

.footer {
    color: #9ca3af;
    border-top: 1px solid #1f2937;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-socials ul {
    display: flex;
    list-style: none;
    gap: 7px;
    flex-wrap: wrap;
    align-items: center;
}

.footer-contacts__data a {
    text-decoration: none;
    color: rgb(218, 218, 218);
}

.footer-socials a {
    color: #9ca3af;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

@media (min-width: 768px) {
    .container {
        padding: 0 60px;
    }

    .header-logo {
        font-size: 15px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .hero-content h1 {
        font-size: 28px;
    }

    #order {
        letter-spacing: unset;
        font-size: 15px;
    }

    .concerts {
        margin: 50px 0;
    }

    .concerts__table th {
        font-size: 15px;
        padding: 18px 10px;
    }

    .concerts__table td {
        font-size: 14px;
        padding: 20px 10px;
    }

    .team-title {
        margin-bottom: 35px;
    }

    .team ul {
        gap: 20px;
    }

    .team ul li img {
        width: 200px;
        height: 200px;
    }

    .team ul li p {
        font-size: 14px;
    }

    .history {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .history-content {
        flex-direction: column;
    }

    .history-description p {
        font-size: 12px;
        line-height: 1.6;
    }

    .history-image {
        display: none;
    }

    .contact {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .contact-form form {
        gap: 10px
    }

    .contact-form__data {
        gap: 10px;
    }

    .contact-form__data label,
    .contact-form__message label {
        font-size: 12px;
    }

    .contact-form input,
    .contact-form textarea {
        margin-top: 5px;
        padding: 7px 5px;
        font-size: 12px;
    }

    .contact-form button {
        width: 120px;
        padding: 10px 0;
        font-size: 12px;
        letter-spacing: 0.7px;
    }

    .contact-map {
        padding: 12px;
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-contacts {
        gap: 30px;
        font-size: 13px;
    }

    .footer-socials a {
        font-size: 13px;
    }
}

@media (min-width: 1024px) {

    .container {
        padding: 0 110px;
    }

    .header-logo {
        font-size: 20px;
    }

    .concerts__table td {
        font-size: 15px;
        padding: 22px 30px;
    }

    nav ul {
        gap: 20px;
    }

    nav ul li a {
        font-size: 15px;
    }

    .hero-content h1 {
        font-size: 35px;
    }

    .hero-content p {
        font-size: 15px;
    }

    .concerts {
        margin: 50px 0 100px 0;
    }

    .concerts__table th {
        font-size: 16px;
        padding: 18px 30px;
    }

    .team-title {
        margin-bottom: 50px;
    }

    .team ul {
        gap: 40px;
    }

    .team ul li img {
        width: 280px;
        height: 240px;
    }

    .team ul li p {
        font-size: 16px;
    }

    .history {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .history-content {
        margin-bottom: 15px;
        flex-direction: row;
    }

    .history-image {
        display: block;
        width: 360px;
        height: 223px;
    }

    .history-description {
        gap: 15px;
    }

    .history-description p {
        font-size: 14px;
        line-height: unset;
    }

    .contact {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .contact-form form {
        gap: 25px;
    }

    .contact-form__data {
        gap: 20px;
    }

    .contact-form__data label,
    .contact-form__message label {
        font-size: 14px;
    }

    .contact-form input,
    .contact-form textarea {
        margin-top: 8px;
        padding: 14px 16px;
        font-size: 14px;
    }

    .contact-form button {
        width: 150px;
        padding: 12px 20px;
        font-size: 14px;
    }

    .contact-map {
        padding: 15px;
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-contacts {
        gap: 45px;
        font-size: 16px;
    }

    .footer-socials a {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .container {
        padding: 0 170px;
    }

    .hero-content p {
        font-size: 18px;
    }

    .concerts__table th {
        font-size: 19px;
    }

    .concerts__table td {
        font-size: 18px;
        padding: 24px 30px;
    }

    .ticket-btn {
        padding: 14px 24px;
    }

    .team ul {
        gap: 70px;
    }

    .team ul li img {
        width: 300px;
        height: 250px;
    }

    .team ul li p {
        font-size: 18px;
    }

    .history {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .history-description {
        gap: 10px;
    }

        .history-description p {
        font-size: 16px;
line-height: 1.6;
    }

        .history-image {
            width: 543px;
        height: 247px;
    }

        .contact {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .contact-form__data label, .contact-form__message label {
        font-size: 16px;
    }

    .contact-form input, .contact-form textarea {
        font-size: 16px;
    }

        .contact-form button {
                width: 165px;
        padding: 16px 20px;
        font-size: 16px;
    }

        .footer {
        padding-top: 50px;
        padding-bottom: 50px;
        }

            .footer-contacts {
        font-size: 17px;
    }

      .footer-socials a {
        font-size: 17px;
    }
}